{% extends 'base.html' %}




{% block content %}

{% load static %}
<section class="backgroundnj">
    <div>
        <div class="row">
            <div class="col-sm-3">
                <div class="card-body">
                    <h5 class="card-title text-center"></h5>
                    <form id="rating">
                        <div class="form-row">
                            <label class="sr-only">Rating</label>
                            <select name="rating" class="form-control">
                                <option selected="true" disabled="True">Rating (Any)</option>
                                {% for key,value in wine_rating.items  %}
                                <option value="{{ key }}">{{value}} </option>
                                {% endfor %}
                            </select>

                            <!-- <label class="sr-only">Country</label>
                            <select name="country" class="form-control">
                                <option selected="true" disabled="True">Country (Any)</option>
                                {% for key,value in country.items  %}
                                <option value="{{ key }}" {% if key == values.country %} selected {% endif %}>{{value}}
                                </option>
                                {% endfor %}
                            </select> -->
                            <!-- <div class="col-md-6 mb-3"> -->
                            <select name="price" class="form-control">
                                <option selected="true" disabled="disabled">Max Price (All)</option>
                                <option value="5">$5 and up</option>
                                <option value="20">$20 and up</option>
                                <option value="30">$30 and up</option>
                                <option value="40">$40 and up </option>
                                <option value="50">$50 and up</option>
                                <option value="60">$60 and up</option>
                                <option value="70">$70 and up</option>
                                <option value="80">$80 and up</option>
                                <option value="90">$90 and up</option>
                                <option value="100">$100 and up</option>
                                <option value="500">$500 and up</option>

                            </select>
                            <!-- </div> -->
                            <select name="category" class="form-control">
                                <option selected="true" disabled="disabled">Category (All)</option>
                                <option value="Fortified">fortified</option>
                                <option value="Red">Red</option>
                                <option value="Rose">Rose</option>
                                <option value="Sparkling">Sparkling</option>
                                <option value="White">White</option>
                                <option value="Dessert">Dessert</option>
                            </select>

                        </div>
                        <button class="btn btn-secondary  mt-4" type="submit">Submit form</button>
                    </form>


                </div>

                <div class="card-footer bg-transparent ">
                    <!-- <div class="btn-group" role="group"> <button type="button"
                        class="btn btn-outline-success">Filter</button> -->
                </div>
                <div class="card-body card-info">
                    <h1>Wine: </h1>
                    <p> Category: </p>
                    <p> Price: </p>
                    <p> Rating: </p>
                    <p> Country: </p>

                </div>
            </div>

            <div class="col-sm-9">

            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <div class="table-responsive-xs">
                            <table class="table table-striped">
                                <tbody class="table-striped">
                                    <thead style="align-content: right">
                                        <!-- <th>id</th> -->
                                        <th>Title</th>
                                        <th>Category</th>

                                        <th>Designation</th>
                                        <th>Price</th>
                                        <th>Rating</th>

                                        <th>Country</th>
                                    </thead>

                                    {% for wine in my_wine %}
                                    <tr>
                                        <!-- <td>{{ wine.id}} </td> -->
                                        <td><a href="{{ wine.title }}">{{ wine.title }} </a></td>
                                        <td>{{ wine.category }}</td>

                                        <td>{{ wine.designation }}</td>
                                        <td>{{ wine.price }}</td>
                                        <td>{{ wine.rating }}</td>

                                        <td>{{ wine.country }}</td>
                                    </tr>

                                    {% endfor %}

                            </table>
                            </tbody>
                        </div>
                    </div>
                </div>


</section>


</div>

{% endblock %}