<!doctype html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>World Choropleth Map</title>
    <link href="https://playground.anychart.com/k9RG7sS4/iframe" rel="canonical">
    <meta
        content="AJAX Chart,Chart from JSON,Choropleth Map,Dot Chart,Geo Chart,Geo Visualization,JSON Chart,JSON Plot,Marker Chart,Statistical Data"
        name="keywords">
    <meta content="AnyChart - JavaScript Charts designed to be embedded and integrated" name="description">
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

    <link href="{% static 'css/anychart-ui.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/anychart-font.min.css' %}" rel="stylesheet" type="text/css">
    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>



<body>



    <div id="container"></div>


    <script src="{% static 'js/anychart-base.min.js' %}"></script>
    <script src="{% static 'js/anychart-ui.min.js' %}"></script>
    <script src="{% static 'js/anychart-exports.min.js' %}"></script>
    <script src="{% static 'js/anychart-map.min.js' %}"></script>
    <script src="{% static 'js/anychart-data-adapter.min.js' %}"></script>
    <script src="{% static 'js/world.js' %}"></script>
    <script src="{% static 'js/proj4.js' %}"></script>
    <script type="text/javascript">anychart.onDocumentReady(function () {
            // The data used in this sample can be obtained from the CDN
            // https://cdn.anychart.com/samples/maps-general-features/world-choropleth-map/data.json
            anychart.data.loadJsonFile('{% static "data.json" %}', function (data) {
                var map = anychart.map();

                map.geoData('anychart.maps.world');
                map.interactivity().selectionMode('none');
                map.padding(0);

                var dataSet = anychart.data.set(data);

                // var density_data = dataSet.mapAs({'value': 'density'});
                // var series = map.choropleth(density_data);
                var wine_review_data = dataSet.mapAs({ 'value': 'count' });
                var series = map.choropleth(wine_review_data);

                series.labels(false);

                series.hovered()
                    .fill('#ffff00')
                    .stroke(anychart.color.darken('ffff00'));

                series.selected()
                    .fill('#c2185b')
                    .stroke(anychart.color.darken('#c2185b'));

                var scale = anychart.scales.ordinalColor([
                    { less: 1 },
                    { from: 1, to: 100 },
                    { from: 101, to: 500 },
                    { from: 501, to: 1000 },
                    { from: 1001, to: 5000 },
                    { from: 5001, to: 15000 },
                    { from: 15001, to: 30000 },
                    { from: 30001, to: 100000 },
                    { greater: 100000 }
                ]);
                scale.colors(['#81d4fa', '#4fc3f7', '#29b6f6', '#039be5', '#0288d1', '#0277bd', '#01579b', '#014377', '#000000']);

                var colorRange = map.colorRange();
                colorRange.enabled(true)
                    .padding([0, 0, 20, 0]);
                colorRange.ticks()
                    .enabled(true)
                    .stroke('3 #ffffff')
                    .position('center')
                    .length(7);
                colorRange.colorLineSize(10);
                colorRange.marker().size(10);
                colorRange.labels()
                    .fontSize(8)
                    .padding(3, 0, 0, 0)
                    .format(function () {
                        var range = this.colorRange;
                        var name;
                        if (isFinite(range.start + range.end)) {
                            name = range.start + '-' + range.end;
                        } else if (isFinite(range.start)) {
                            name = 'More than ' + range.start;
                        } else {
                            name = 'Less than ' + range.end;
                        }
                        return name
                    });

                series.colorScale(scale);

                // create zoom controls
                var zoomController = anychart.ui.zoom();
                zoomController.render(map);

                // set container id for the chart
                map.container('container');
                // initiate chart drawing
                map.draw();
            });
        });</script>


</body>