{% extends 'base.html' %}




{% block content %}

{% load static %}
<!-- {% static 'js/Desserts.csv' %} -->
<div class="hero text-center">
    <h1>Wine Tripper </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="bubble"></div>
        </div>
    </div>
    <div class="row margin-top-50">
        <div class="col-md-2">
            <aside class="filters">
                <div class="panel panel-default">
                    <div class="panel-heading">Filter Search</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                        <label for="vintage">Choose a Vintage</label>
                                        <select id="selVintage">
                                        </select>
                                    </li>
                                    <li class="filter list-group-item">
                                        <label for="rating">Choose a Rating</label>
                                        <select id="selRating"></select>
                                    </li>
                                    <li class="filter list-group-item">
                                        <label for="price">Choose a Price</label>
                                        <select id="selPrice"></select>
                                    </li>
                                    <li class="filter list-group-item">
                                        <label for="country">Choose a Country</label>
                                        <select id="selCountry"></select>
                                    </li>
                                </ul>
                            </div>
                            <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
        <div class="col-md-10">
            <div id="table-area" class="">
                <table id="ufo-table" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="table-head">ID</th>
                            <th class="table-head">Alcohol Content</th>
                            <th class="table-head">Category</th>
                            <th class="table-head">Country</th>
                            <th class="table-head">Description</th>
                            <th class="table-head">Designation</th>
                            <th class="table-head">Price</th>
                            <th class="table-head">Rating</th>
                            <th class="table-head">Region</th>
                            <th class="table-head">SubRegion</th>
                            <th class="table-head">SubSubRegion</th>
                            <th class="table-head">Title</th>
                            <th class="table-head">URL</th>
                            <th class="table-head">Varietal</th>
                            <th class="table-head">Vintage</th>
                            <th class="table-head">Winery</th>
                            <!-- <th class="table-head">Duration</th>
                <th class="table-head">Comments</th> -->
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    d3.csv('{% static "js/Desserts.csv" %}', function (err, csv) {
        console.log(csv)
    });
</script> -->

<script>src = "{%static 'js/DessertApp4.js' %}" </script>


{% endblock %}
<script id="hello-data" type="application/json">  '{{context.my_wine}}' </script>