{% extends 'base.html' %}




{% block content %}

{% load static %}

<div class="body">
    <div class="jumbotron bg-info text-white text-center bground" id="one">

        <h1>Wine Data</h1>

        </ul> -->
    </div>
    <div class="row background">
        <div class="col-md-3">
            <div class="card" style="width: 15rem;">

                <div class="card-body">
                    <h5 class="card-title text-center btn btn-block hvr-border-fade" id="filterBtn">Filter Search</h5>
                    <form id="UFOForm">
                        <div class="form-group card-text">
                            <label for="color">Type</label>
                            <input type="text" class="form-control" id="color">

                        </div>
                        <div class="form-group">
                            <label for="city">Country</label>
                            <input type="text" class="form-control" id="city">
                        </div>

                        <div class="form-group">
                            <label for="state">Rating</label>
                            <input type="text" class="form-control" id="state">
                        </div>

                        <div class="form-group">
                            <label for="state">Price</label>
                            <input type="text" class="form-control" id="state">
                        </div>

                </div>

                <div class="card-footer bg-transparent ">
                    <!-- <div class="btn-group" role="group"> <button type="button"
                            class="btn btn-outline-success">Filter</button> -->
                </div>
                <button type="button" class="btn btn-outline-danger" id="resetBtn">Reset Table </button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <div class="table-responsive-xs">
                    <table class="table table-striped">
                        <tbody class="table-striped">
                            <thead>
                                <!-- <th>id</th> -->
                                <th>Title</th>
                                <th>Category</th>
                                <!-- <th>Description</th> -->
                                <th>Designation</th>
                                <th>Price</th>
                                <th>Rating</th>
                                <th>Alcohol Content</th>
                                <th>Country</th>
                            </thead>

                            {% for wine in my_wine %}
                            <tr>
                                <!-- <td>{{ wine.id}} </td> -->
                                <td>{{ wine.title }} </td>
                                <td>{{ wine.category }}</td>
                                <!-- <td>{{ wine.description }}</td> -->
                                <td>{{ wine.designation }}</td>
                                <td>{{ wine.price }}</td>
                                <td>{{ wine.rating }}</td>
                                <td>{{ wine.alcohol }} </td>
                                <td>{{ wine.country }}</td>
                            </tr>

                            {% endfor %}

                    </table>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


</html>