{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="detail">
    <div class="container ">


        <div class="card-body card-info ">
            <h2>Wine: {{wine.title}}</h2>
            <p> Category: {{ wine.category }}</p>
            <p> Price: {{ wine.price }}</p>

            <p> Rating: {{ wine.rating }}</p>
            <p> Country: {{ wine.country }} </p>
            <p>Region: {{ wine.region }} </p>
            <p>Vintage: {{ wine.vintage }}</p>
            <p> Winery: {{ wine.winery}} </p>
            <p> Designation {{ wine.designation }} </p>
            <p>Information: {{ wine.description }} </p>

            {% if wine.category == "Rose" %}
            <img src="{% static 'images/rose_wine.jpg'%}" alt="" style="height: 225px;">


            {% elif wine.category == "Red" %}

            <img src="{% static 'images/red_wine.jpeg'%}" alt="">

            {% else %}

            <img src="{% static 'images/white_wine.png'%}" alt="" style="height: 225px; ">
            {% endif %}
        </div>

    </div>
</div>

{% endblock content %}