<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='./css/style.css')  }}">
    {% if title %}
    <title>Wine Tripper - {{ title }}</title>
    {% else %}
    <title>Wine Tripper</title>
    {% endif %}
</head>

<body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {%  for category, message in messages %}
        <div class='alert alert-{{ category }}'>
            {{ message }}
        </div>

        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body%} {% endblock %}
        <!-- {# body could be any name but when used in html pages make sure you use the right name #} -->
    </div>

    <script> src = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"</script>
</body>

</html>